<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag 'leftpanel' %>
</head>
 <center><strong> <h1><p>Welcome to Banking System</p></h1></strong></center>
  <p align="right">Hello <%= current_user.first_name %></p>
  <p align="right">Acc no:<%= current_user.account.account_no %></p>
<body>

<h1>Menu</h1>

<div class="vertical-menu">
  <%= link_to "Add Benificiary",new_benificiary_path,  class: "active" %>
  <%= link_to "Show Added Benificiary",benificiaries_index_path,  class: "btn btn-primary" %>
  <%= link_to "Fund Transfer",new_transaction_path,  class: "btn btn-primary" %>
  <%= link_to "Transfer History",transactions_path,  class: "btn btn-primary" %>

</div>

</body>
</html>
